body {
  background-color: white;
  font: 20px Arial, sans-serif;
}
.content {
  max-width: 1000px;
  margin: auto;
  background: #f4e1d2;
  padding: 10px;
}
.homecolumn {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding-left: 60px;
}

.homerow:after {
  content: "";
  display: table;
  clear: both;
}

.iconfix {
  margin-top: 7px;
  margin-left: 40px;
}

.myphoto {
  margin-left: 20px;
  margin-bottom: 10px;
}

.left{
  width: 25%;
  padding:10px;
}

.middle, .right {
  width: 37.5%;
  padding:10px;
  vertical-align: top;
}

/* Clear floats after the columns */
.cvrow:after {
  content: "";
  display: table;
  clear: both;
}
.upper {
  border: 2px solid black;
  border-radius: 2px;
}

h1 {
  font-weight:bolder;
}
hr {
  margin: 2px;
}
a {
  color:black;
  text-decoration: underline;
}
.termins {
  font-style: italic;
}